/* Color palette */
/* https://www.color-hex.com/color-palette/2280#comments */
/* 
#343d46 	(52,61,70)
#4f5b66 	(79,91,102)
#65737e 	(101,115,126)
#a7adba 	(167,173,186)
#c0c5ce 	(192,197,206) */

:root{
    /* colors */
    --darker-color: #343d46;
    --dark-color: #4f5b66;
    --mid-color: #65737e; 
    --light-color: #a7adba; 
    --lighter-color: #c0c5ce; 
    --highlight-color: orange;
    --text-color: #fff;

    /* shadows */
    --text-shadow: 3px 3px 3px  #333;
    --box-shadow: 3px 3px 3px  #333;

    /* transition-transform */
    --transition-defalt: all 0.2s;
    --transform-default: translateY(-10%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--mid-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li{list-style: none; display: inline-block;}
a{text-decoration: none; display: block;}

input, label, textarea, button{
    display: block;
}


/* Utilities */
.btn{
    border: 1px solid #fff;
    margin: 1rem 0;
    padding: 10px 15px;
    border-radius: 5px;
}

.btn-light{
    border: 1px solid var(--highlight-color);
    color: var(--light-color);
    transition: var(--transition-defalt);
}
.btn-light:hover{
    transform: var(--transform-default);
}


/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 1rem 2rem;
}
.navbar i{
    color: var(--highlight-color);
}

.navbar a{
    color:var(--darker-color);
    transition: var(--transition-defalt);  
}

.navbar a:hover{
    transform: translateY(-10%);
    border-bottom: 1px solid var(--highlight-color);
    color: var(--text-color);
    text-shadow: var(--text-shadow);
}

.navbar ul li{
    margin: 0 3rem;
    font-weight: bolder;
}

/* Showcase */
.showcase{
    background: rgba(2,2,2,0.7);
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

.showcase:before{
    content: '';
    position: absolute;
    background: url(/img/home.jpg)no-repeat center center/cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.showcase h1{
    padding: 20px;
    margin: 1rem;
    font-size: 70px;
}

.showcase p{
    padding: 20px
}

/* Blog-Home */
.blog-container{
    display: flex;
    height: 60vh;
}

.box-content{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--dark-color);
}
.box-content h1{
    padding: 20px 30px;
}

.box-content p{
    padding: 20px 30px;
}

.box-image{
    width: 50%;
    height: 100%;
    background: rgba(2,2,2,0.7);
    position: relative;
}

.box-image::before{
    content: '';
    position: absolute;
    background: url(/img/meeting.jpg)no-repeat center center/cover;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    z-index: -1;
}

/* Projects */
.projects-container{
    display: flex;
    height: 40vh;
    align-items: center;
    border-top: 2px solid var(--darker-color);
}

.project-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--highlight-color);
    padding: 25px 50px;
    margin: 0 1rem;
}

/* Contact-Social-Sitemap */
.contact-sitemap-container{
    background: var(--darker-color);
    display: flex;
    justify-content: space-evenly;
    height: 30vh;
    padding-top: 30px;
}

.contact-sitemap-container i,
.contact-sitemap-container a,
.contact-sitemap-container input, 
.contact-sitemap-container h3{
    color: var(--text-color);
    margin: 2px 0;
}

.contact-sitemap-container li{
    display: block;
}

.contact-form, .social-media, .sitemap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* footer */
footer{
    display: flex;
    justify-content: center;
    color: var(--text-color);
    padding-bottom: 0.2rem;
}

footer a{
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
}

/* Media Query */
@media(max-width:1201px){
    .navbar ul li{
        margin: 0 1rem;
    }

}
@media(max-width:1025px){
    .projects-container{
        flex-direction: column;
        justify-content: space-between;
        height: 112vh;
        padding: 30px 0;
    }
    .project-box{
        margin: 30px 20px;
    }
}
@media(max-width:769px){
    .navbar{
        width: 100%;
        justify-content: center;
    }
    .navbar h2{
        display: none;
    }
    .contact-sitemap-container{
        height: 80vh;
        display: flex;
        flex-direction: column;
    }
    .blog-container{
        height: 80vh;
        flex-direction: column-reverse;
    }
    .box-content,.box-image{
        width: 100%;
    }

}
@media(max-width:481px){
    .projects-container{
        flex-direction: column;
        height: 140vh;
        padding: 30px 0;
    }
}
@media(max-width:320px){
    .navbar ul li{
        display: block;
        margin: 1rem 0;
    }
}